# Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
.venv/
venv/
env/

# Переменные окружения и секреты
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Локальные базы/временные файлы
*.db
*.sqlite
*.sqlite3
